<%= form_with(model: moon, local: true) do |form| %>
  <% if moon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moon.errors.count, "error") %> prohibited this moon from being saved:</h2>

      <ul>
        <% moon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :moon_name %>
    <%= form.text_field :moon_name %>
  </div>

  <div class="field">
    <%= form.label :moon_surface_type %>
    <%= form.text_field :moon_surface_type %>
  </div>

  <div class="field">
    <%= form.label :moon_surface_temperature %>
    <%= form.text_field :moon_surface_temperature %>
  </div>

  <div class="field">
    <%= form.label :moon_cover_image %>
    <%= form.file_field :moon_cover_image %>
  </div>

  <div class="field">
    <%= form.label :moon_images %>
    <%= form.file_field :moon_images, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :planet_id %>
    <%= form.text_field :planet_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
